.repo/

# Files associated with the Yocto build environment
layers/
build-*/
PRServer_*
tmp*/
ar*/
cc*
sh-thd.*
man*
jam*

# Shared SState cache for all builds that are going to be made
oe-sstate-cache/

# Directory for building the yocto build Dockerfile
tmp-dockerfile/

